<div class="container">
  <div>
    <h1>
      List of all rides
    </h1>
  </div>
</div>

<hr>

<div class="container">
  <div>
    <h2>
      Add a new ride
    </h2>

    <form action="/insert_ride" method="post">
      <div class="form-group">
        <label for="distance_km_box">
          Distance traveled in kilometers 
        </label>

        <input type="text" class="form-control" id="distance_km_box" name="query_distance_km">
      </div>

      <div>
        <label for="time_box">
          Duration of Ride in Minutes
        </label>

        <input type="text" class="form-control" id="time_box" name="query_minutes">
      </div>   

      <div>
        <label for="description_box">
          Description of ride
        </label>

        <input type="text" class="form-control" id="description_box" name="query_description">
      </div>

      <div>
        <label for="date_box">
          Date of ride
        </label>

        <input type="date" class="form-control" id="date_box" name="query_date">
      </div>

      <button 
      type="submit" class="btn btn-success">Create ride
      </button>
    </form>
  </div>
</div>

<hr>
<div class="container">
  <div>
    <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th>
          Created at
        </th>
        <th>
          Username
        </th>

        <th>
          Description
        </th>


        <th>
          Distance km
        </th>

        <th>
          Minutes Ridden
        </th>

        <th>
          Speed (KPH)
        </th>

        <th>
          Date
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_rides.each do |a_ride| %>
      <tr>

        <td>
          <%= time_ago_in_words(a_ride.created_at) %> ago
        </td>
        <td>
          <% matching_riders = User.where({ :id => a_ride.user_id }) %> 
          <% the_rider = matching_riders.at(0) %>
          <%= the_rider.username %>        
        </td>

        <td>
          <%= a_ride.description %>
        </td>

        <td>
          <%= a_ride.distance_km %>
        </td>

        <td>
          <%= a_ride.minutes %>
        </td>

        <td>
          <% hours_ridden = a_ride.minutes / 60.0 %>
          <% speed = a_ride.distance_km / hours_ridden %>
          <%= speed.round(1) %>
        </td>

        <td>
          <%= a_ride.date %>
        </td>

        <td>
          <%= time_ago_in_words(a_ride.updated_at) %> ago
        </td>

        <td>
          <a href="/rides/<%= a_ride.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
