<div>
  <div>
    <h1>
      <%= @the_ride.description %> ride details
    </h1>

    <div>
      <div>
        <a href="/rides">
          Go back
        </a>
      </div>

<% if @current_user.id == @the_ride.user_id %>
      <div>
        <a href="/delete_ride/<%= @the_ride.id %>">
          Delete ride
        </a>
      </div>
    </div>
    <dl>
<% else %>
<% end %>


<dt>
        Rider username
      </dt>
        <dd>
          <% matching_riders = User.where({ :id => @the_ride.user_id }) %> 
          <% the_rider = matching_riders.at(0) %>
          <%= the_rider.username %>
        </dd>

      <dt>
        Distance km
      </dt>
      <dd>
        <%= @the_ride.distance_km %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @the_ride.minutes %>
      </dd>

      <dt>
        Speed
      </dt>
      <dd>
         <% hours_ridden = @the_ride.minutes / 60.0 %>
          <% speed = @the_ride.distance_km / hours_ridden %>
          <%= speed.round(1)  %> kilometers per hour
      </dd>

      <dt>
        Date of ride
      </dt>
      <dd>
        <%= @the_ride.date %>
      </dd>

      <dt>
        Ride uploaded
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ride.created_at) %> ago
      </dd>

      <dt>
        Ride updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_ride.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user.id == @the_ride.user_id %>

<div>
  <div>
    <h2>
      Edit ride
    </h2>

    <form action="/modify_ride/<%= @the_ride.id %>"  method="post" >
      <div>
        <label for="distance_km_box">
          Distance km
        </label>

        <input type="text" id="distance_km_box" name="query_distance_km" value="<%= @the_ride.distance_km %>">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="text" id="time_box" name="query_minutes" value="<%= @the_ride.minutes %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_ride.description %>">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_ride.date %>">
      </div>

      <button>
        Update ride
      </button>
    </form>
  </div>
</div>

<% else %>

<% end %>

<hr>
